<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="bootstrap-cover" style="height: 100%;">

{% assign ordered_pages = site.pages | sort: "page_order" %}
{% assign default_paths = ordered_pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

  {% include head.html %}

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <!--div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div-->

          <div class="inner cover">
            <h1 class="cover-heading">{{ page.headline }}</h1>
            <!--p class="lead">{{ content | remove: '<p>' | remove: '</p>' }}</p-->
            <p class="lead hidden-xs">December 9th, 2017 &bull; Jersey City, New Jersey &bull; #WeddyForThisJelly</p>
            <p class="lead visible-xs-block">December 9th, 2017 <br /> Jersey City, New Jersey <br /> #WeddyForThisJelly</p>
            <div class="lead jelly-sections">
              <!--a href="#" class="btn btn-lg btn-default">Learn more</a-->
              {% if page_paths %}
                {% for path in page_paths %}
                  {% assign my_page = site.pages | where: "path", path | first %}
                  {% if my_page.title %}
                    {% if my_page.url != "/" %}
                      <a href="{{ my_page.url | relative_url }}" style="display: block">{{ my_page.title | escape }}</a>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <!--div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div-->

        </div>

      </div>

    </div>

    {% include bootstrap-footer.html %}

  </body>

</html>
